<div class="jumbotron text-center">
<%= image_tag("CHATROOMS.png", :class => "img-fluid ")%>
</div>
<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>

<ul>
  <%= render @chat_rooms %>
</ul>

<div class="space-70"></div><div class="space-30"></div>
<!-- the link to destroy chat room - commented out as player should not have access to this
<% @chat_rooms.each do |chat_room| %>
<%= link_to 'Destroy', chat_room, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
-->
