<h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>Welcome to Board Games sherpa, where we match a sherpa to your games for your games night.</p>

<p>Why not browse through our game selection and create your first event using the following link <a href="sherpa-app.herokuapp.com/">Games</a></p>
