<div class="defaultspacer">
<div class="jumbotron text-center">
<h1>New Event</h1>
<p>Enter time and location for your new event</p>
</div>

<%= render 'form', event: @event %>

<%= link_to 'Back', games_path %>
<div class="space-70"></div><div class="space-30"></div>
</div>