<h2>This a group project developed by the following General Assembly Students: Abdul Yusuf, Austin Nash, Bonny Sentrosi, Ivor King and James Han Kim.

<br/>
<br/>

<h3>For more information about us, head over to the <%= link_to "Contact", contact_path %> page.</h3>
<br/>
<ul>
  <li>The app has a backend created in Ruby on Rails with addition functions in vanilla Javascript.</li>
  <li>Front end styling is handled in SASS and HTML separate HTML, CSS, and JavaScript files.</li>
  <li>Logo design was done in both Adobe Indesign & Photoshop.</li>
  <li>Front end styling is handled in SASS and HTML separate HTML, CSS, and JavaScript files.</li>
  <li>Video was compiled in Adobe Premier Pro.</li>
</ul>
</h2>
