<div class="defaultspacer">
<div class="jumbotron text-center">

  <%= image_tag("about.png", :class => "img-fluid ")%>
</div>
<br /><br />
<h5 class="display-5">This a group project developed by the following General Assembly Students: Abdul Yusuf, Austin Nash, Bonny Sentrosi, Ivor King and James Han Kim.
</h5>

<ul class="list-group">
  <li class="list-group-item">The app has a backend created in Ruby on Rails with addition functions in vanilla Javascript.</li>
  <li class="list-group-item">Front end styling is handled in SASS and HTML separate HTML, CSS, and JavaScript files.</li>
  <li class="list-group-item">Logo design was done in both Adobe Indesign & Photoshop.</li>
  <li class="list-group-item">Front end styling is handled in SASS and HTML separate HTML, CSS, and JavaScript files.</li>
  <li class="list-group-item">Video was compiled in Adobe Premier Pro.</li>
</ul>
</h2>

<br/>
<p>For more information about us, head over to the <%= link_to "Contact", contact_path %> page.</p>

</div>
