 <div class="text-center">

  <a href="index.html"> <%= image_tag("logo.png", :alt => "change this") %>

    <div class="clearfix"></div>
    <div class="slider-master" style="position: relative;">
        <!-- Master Slider -->
        <div class="master-slider ms-skin-default ms-wk" id="masterslider" style="visibility: visible; opacity: 1; margin: 0px;"><div class="ms-container"><div class="ms-inner-controls-cont" style="max-width: 1170px;"><div class="ms-view ms-basic-view ms-grab-cursor" style="width: 1170px; height: 600px; left: 0px;"><div class="ms-slide-container" style="transform: translateX(-2326.8px) translateZ(0px);"><div class="ms-slide slide-3" data-delay="14" style="width: 1170px; height: 600px; left: 2340px;">

                <!-- slide background -->





                 <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><%= image_tag("bg-3.png", :class => "img-fluid logo-dark imgderpa")%> </div><div class="ms-slide-layers" style="left: 0px; max-width: 1170px;"><div class="ms-anim-layers" style=""><h3 class="ms-layer title_main full-wid text-center" style="left: 0px; top: 230px; margin: 0px 0px 8px; padding: 0px; font-size: 45px; line-height: 55px; transform-origin: center top 0px; transition-duration: 2500ms; transition-property: -webkit-transform, opacity; transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);">Perfect for small projects</h3><h5 class="ms-layer sub-title full-wid text-center" style="left: 0px; top: 320px; margin: 0px 0px 8px; padding: 0px; font-size: 20px; line-height: 24px; transition-duration: 3000ms; transition-property: -webkit-transform, opacity; transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);">Most popular minimal business theme ever</h5><a class="ms-layer btn1 slide-btn uppercase" href="#" style="left: 550px; top: 380px; margin: 0px; padding: 12px 30px; font-size: 13px; line-height: 26px; visibility: hidden; opacity: 0; transform: scaleX(1.5) scaleY(1.6);"> Learn More <i class="fa fa-angle-right"></i> </a><a class="ms-layer btn2 slide-btn uppercase" href="#" style="left: 700px; top: 380px; margin: 0px; padding: 12px 30px; font-size: 13px; line-height: 26px; visibility: hidden; opacity: 0; transform: scaleX(1.5) scaleY(1.6);"> Purchase Now! <i class="fa fa-angle-right"></i></a></div></div></div><div class="ms-slide slide-1" data-delay="14" style="width: 1170px; height: 600px; left: 3510px;">

                <!-- slide background -->





                 <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><%= image_tag("bg-3.png", :class => "img-fluid logo-dark imgderpa")%></div><div class="ms-slide-layers" style="left: 0px; max-width: 1170px;"><div class="ms-anim-layers" style="opacity: 1; display: none;"><h3 class="ms-layer title_main ms-hover-active" style="left: 150px; top: 230px; margin: 0px 0px 8px; padding: 0px; font-size: 45px; line-height: 55px; transform-origin: center top 0px; display: none;">Clean minimal business</h3><h5 class="ms-layer sub-title ms-hover-active" style="left: 150px; top: 320px; margin: 0px 0px 8px; padding: 0px; font-size: 20px; line-height: 24px; display: none;">Perfect for any minimal business startup</h5><a class="ms-layer btn1 slide-btn uppercase ms-hover-active" href="#" style="left: 150px; top: 380px; margin: 0px; padding: 12px 30px; font-size: 13px; line-height: 26px; display: none;"> Learn More <i class="fa fa-angle-right"></i> </a><a class="ms-layer btn2 slide-btn uppercase ms-hover-active" href="#" style="left: 300px; top: 380px; margin: 0px; padding: 12px 30px; font-size: 13px; line-height: 26px; display: none;"> Purchase Now! <i class="fa fa-angle-right"></i></a></div></div></div><div class="ms-slide slide-2" data-delay="14" style="width: 1170px; height: 600px; left: 1170px;">

                <!-- slide background -->





                 <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><%= image_tag("bg-3.png", :class => "img-fluid logo-dark imgderpa")%><div class="ms-slide-layers" style="left: 0px; max-width: 1170px;"><div class="ms-anim-layers" style="opacity: 1; display: none;"><h3 class="ms-layer title_main full-wid text-center ms-hover-active" style="left: 0px; top: 230px; margin: 0px 0px 8px; padding: 0px; font-size: 45px; line-height: 55px; transform-origin: center top 0px; display: none;">Beautiful hand crafted</h3><h5 class="ms-layer sub-title full-wid text-center ms-hover-active" style="left: 0px; top: 320px; margin: 0px 0px 8px; padding: 0px; font-size: 20px; line-height: 24px; display: none;">Simple and elegant design for your next project</h5><a class="ms-layer btn1 slide-btn uppercase ms-hover-active" href="#" style="left: 550px; top: 380px; margin: 0px; padding: 12px 30px; font-size: 13px; line-height: 26px; display: none;"> Learn More <i class="fa fa-angle-right"></i> </a><a class="ms-layer btn2 slide-btn uppercase ms-hover-active" href="#" style="left: 700px; top: 380px; margin: 0px; padding: 12px 30px; font-size: 13px; line-height: 26px; display: none;"> Purchase Now! <i class="fa fa-angle-right"></i></a></div></div></div></div></div><div class="ms-nav-next ms-ctrl-hide" style="opacity: 0;"></div><div class="ms-nav-prev ms-ctrl-hide" style="opacity: 0;"></div><div class="ms-bullets ms-dir-h ms-ctrl-hide" style="opacity: 0; width: 60px;"><div class="ms-bullets-count"><div class="ms-bullet" style="margin: 5px;"></div><div class="ms-bullet" style="margin: 5px;"></div><div class="ms-bullet ms-bullet-selected" style="margin: 5px;"></div></div></div></div></div>

            <!-- slide 1 -->

            <!-- end of slide -->

            <!-- slide 2 -->

            <!-- end of slide -->

            <!-- slide 2 -->

            <!-- end of slide -->
        <div class="ms-timerbar" style="height: 4px;"><div class="ms-time-bar" style="height: 4px; background-color: rgb(255, 255, 255); width: 0%;"></div></div></div>
        <!-- end Master Slider -->
    </div>
        <div class="space-50"></div>

    <div class="space-50"></div>
    <div class="container">
        <div class="row intro-row">
            <div class="col-md-12 text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <h2>Sherpa - the board game guide app</h2>
                <h3 class="subtitle">More text here</h3>
            </div>
            <div class="space-70"></div>
            <div class="col-md-4 wow  bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
                <div class="services-box">
                    <i class="ion-laptop"></i>
                    <h4>Choose Your Game</h4>
                    <p>
                        Select your game from our database of hot games, or add your own
                    </p>
                </div>
            </div><!--services box-->
            <div class="col-md-4 wow  bounceIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">
                <div class="services-box">
                    <i class="ion-ios-color-wand-outline"></i>
                    <h4>Choose Your Sherpa</h4>
                    <p>
                      Select a local Sherpa who is experienced with <strong>your game</strong>, can navigate tricky rules, reduce arguments, and ensure you spend more time playing and less time reading rulebooks
                    </p>
                </div>
            </div><!--services box-->
            <div class="col-md-4 wow  bounceIn animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;">
                <div class="services-box">
                    <i class="ion-social-twitter-outline"></i>
                    <h4>Enjoy the Experience</h4>
                    <p>
                        We'll send you a confirmation email when the Sherpa is confirmed for your event - all that's left is for you to enjoy a hassle free games night
                    </p>
                </div>
            </div><!--services box-->
        </div><!--row end-->
    </div><!--intro with services end-->
    <div class="space-70"></div><div class="space-30"></div>
  </div>
<script>
(function ($) {
    "use strict";
    var slider = new MasterSlider();
    // adds Arrows navigation control to the slider.
    slider.control('arrows');
    slider.control('timebar', {insertTo: '#masterslider'});
    slider.control('bullets');
    slider.setup('masterslider', {
        width: 1170, // slider standard width
        height: 600, // slider standard height
        space: 0,
        layout: 'auto',
        loop: true,
        preload: 0,
        instantStartLayers: true,
        autoplay: true
    });
})(jQuery);
</script>
