 <div class="text-center">

  <a href="index.html"> <%= image_tag("logo.png", :alt => "change this") %>

        <div class="space-50"></div>

    <div class="space-50"></div>
    <div class="container">
        <div class="row intro-row">
            <div class="col-md-12 text-center wow  fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <h2>The Board Game Guide App</h2>
                <h3 class="subtitle">Make friends and get help playing the games you love</h3>
            </div>
            <div class="space-70"></div>
            <div class="col-md-4 wow  bounceIn animated" style="visibility: visible; animation-name: bounceIn;">
                <div class="services-box">
                    <i class="ion-laptop"></i>
                    <h4>Choose Your Game</h4>
                    <p>
                        Select your game from our database of hot games, or add your own
                    </p>
                </div>
            </div><!--services box-->
            <div class="col-md-4 wow  bounceIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;">
                <div class="services-box">
                    <i class="ion-ios-color-wand-outline"></i>
                    <h4>Choose Your Sherpa</h4>
                    <p>
                      Select a local Sherpa who is experienced with <strong>your game</strong>, can navigate tricky rules, reduce arguments, and ensure you spend more time playing and less time reading rulebooks
                    </p>
                </div>
            </div><!--services box-->
            <div class="col-md-4 wow  bounceIn animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;">
                <div class="services-box">
                    <i class="ion-social-twitter-outline"></i>
                    <h4>Enjoy the Experience</h4>
                    <p>
                        We'll send you a confirmation email when the Sherpa is confirmed for your event - all that's left is for you to enjoy a hassle free games night
                    </p>
                </div>
            </div><!--services box-->
        </div><!--row end-->
    </div><!--intro with services end-->
    <div class="space-70"></div><div class="space-30"></div>
  </div>
