<div class="search-results">
  <h2>Top hit:</h2>
  <div class="flex-row">
      <div class="details search-results">
        <h1><%= @game %></h1>
        <h2><%= @description %></h2>
      </div>
  </div>
</div>
